.firebase-form {
  width: 300px;
}
.post-list {
  display: table;
}
.post-part {
  display: table-cell;
}
/* .post-card {
  padding-left: 10px;
} */
.post-action {
  width: 50px;
  cursor: pointer;
}
.post-delete {
  background-color: #dc3545;
}
.post-update {
  background-color: #0d6efd;
}
.post-action-icon {
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
}
.button {
  width: 30px;
  height: 30px;
  background-color: #0d6efd;
  cursor: pointer;
}
